---
import ExpItem from "./icons/ExpItem.astro";
const Experiencie = [
  {
    date: "Actualmente...",
    title: "Encargada",
    company: "Cotillón y Repostería San Pedro",
    description:
      "Apertura y cierre diario y mensual del comercio. Manejo de caja chica. Incorporación de nuevos productos según las necesidades de los clientes. Gestión de relaciones con proveedores y búsqueda de nuevos proveedores. Realización de tareas administrativas, incluyendo facturación y registro de nuevos clientes. Ejecución de tareas contables como control y registro de facturas. Personal a cargo: 2"
  },
  {
    date: "Noviembre 2011",
    title: "Administrativa",
    company: "Transporte Pintor",
    description:
      "Control de entradas y salidas de la ﬂota de transporte. Preparación de documentación necesaria. Coordinación de distribución y recogida de paqueteria. Atención de clientes en sitio. Seguimiento de vehículos y gestión de incidencias.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    Experiencie.map((experiencie) => (
      <li class="">
        <ExpItem {...experiencie} />
      </li>
    ))
  }
</ol>