---
import Brand from './Brand.astro'
---

<header class="flex justify-between items-center py-6 w-[1120px] mx-auto">
    <Brand/>
    <nav class="flex flex-row gap-x-10">
        <a href="#top" class="hover:text-teal-300">Home</a>
        <a href="#about-me" class="hover:text-teal-300">About</a>
        <a href="#experience" class="hover:text-teal-300">Experience</a>
        <a href="#projects" class="hover:text-teal-300">Projects</a>
        <a href="#contact" class="hover:text-teal-300">Contact</a>
    </nav>
</header>