

<nav class="bg-blue-950 p-4 shadow-md">
  <ul class="flex flex-row gap-10 items-center justify-center text-xl text-white">
    <li>
      <a href="/">
        <img src="/logo.png" class="h-9 w-9" alt="Logo Irene Dev Frontend Developer" />
      </a>
    </li>
    <li>
      <a href="/" class="px-4 py-2 transition-colors duration-300 hover:text-cyan-300 focus:outline focus:outline-cyan-500">
        Home
      </a>
    </li>
    <li>
      <a href="/projects" class="px-4 py-2 transition-colors duration-300 hover:text-cyan-300 focus:outline focus:outline-cyan-500">
        Projects
      </a>
    </li>
    <li>
      <a href="/about" class="px-4 py-2 transition-colors duration-300 hover:text-cyan-300 focus:outline focus:outline-cyan-500">
        About Me
      </a>
    </li>   
    <li>
      <a href="/contact" class="px-4 py-2 transition-colors duration-300 hover:text-cyan-300 focus:outline focus:outline-cyan-500">
        Contact
      </a>
    </li>
  </ul>
</nav>