<section class="flex space-x-4">
    <ul class="flex space-x-4 text-white">
      <li class="text-white hover:text-gray-300">
        <a href="https://github.com/irenepintor">
          
        </a>
      </li>
      <li class="text-white hover:text-gray-300">
        <a href="https://www.linkedin.com/in/irene-pintor/">
          
        </a>
      </li>
      <li class="text-white hover:text-gray-300">
        <a href="mailito:pintor.irene@outlook.com">
          
        </a>
      </li>
    </ul>
  </section> 